<!DOCTYPE html >

<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="doctors"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta %}{% endblock %}
        {% block stylesheet %}
            <!-- Bootstrap -->
            <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!-- NProgress -->
            <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
            <!-- iCheck -->
            <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
            <!-- bootstrap-progressbar -->
            <link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
            <!-- JQVMap -->
            <link href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet">
            <!-- bootstrap-daterangepicker -->
            <link href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
            <!-- Custom Theme Style -->
            <link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet">
            <!-- bootstrap-wysiwyg -->
            <link href="{{ asset('vendors/google-code-prettify/bin/prettify.min.css') }}" rel="stylesheet">
            <!-- Select2 -->
            <link href="{{ asset('vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
            <!-- Switchery -->
            <link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
            <!-- starrr -->
            <link href="{{ asset('vendors/starrr/dist/starrr.css') }}" rel="stylesheet">
            <!-- FullCalendar -->
            <link href="{{ asset('vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
            <link href="{{ asset('vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet" media="print">
            <!-- <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('css/layout.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('css/select2.css') }}" rel="stylesheet">
            <link href="{{ asset('css/button.css') }}" rel="stylesheet">
            <link href="{{ asset('css/appointment.css') }}" rel="stylesheet">
            <link href="{{ asset('css/files_popup.css') }}" rel="stylesheet">
            <link href="{{ asset('css/menu.css') }}" rel="stylesheet"> -->

            <!--<link href="{{ asset('/css/form.css') }}" rel="stylesheet">-->
            {#<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.0/fullcalendar.min.css"#}
                  {#rel="stylesheet">#}

            <link rel="stylesheet" href="{{ asset('bower_components/chartist/dist/chartist.min.css') }}">


        {% endblock %}
        <title>{% block title %}{{ app_config.app_name }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('icon.png') }}"/>
        <style>{{ app_config.app_css }}</style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
      <!--<script src="js/html5shiv.js"></script>-->
      {#<!--<script src="{{ asset('/js/form.js') }}"></script>-->#}

        <![endif]-->
    {% endblock %}

</head>

{% block container %}
<body class="nav-md">
<div class="container body">
    <div class="main_container">
{% include "BenDoctorsBundle:Default:menu.html.twig" %}

    {#<div class="visible-print col-md-12 text-left"><img src="{{ asset('images/header.PNG') }}" alt="logo"/></div>#}
        <!-- <header id="adminbar">
            <div id="logo"><img src="{{ asset( app_config.app_logo ) }}" alt="logo" class="img-small"/>
                <span>Medical</span></div>

            <div class="dropdown pull-right user-profile">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="img-small" src="{{ asset( app.user.image.getwebpath) }}" alt="{{ app.user.username }}">
                    {{ app.user.fullName }} <span class="glyphicon glyphicon-chevron-down"></span></a>

                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-content">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="{{ asset( app.user.image.getwebpath) }}" alt="Alternate Text"
                                         class="img-responsive"/>
                                    <div class="clearfix"></div>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <span>{{ app.user.username }}</span>
                                    <p class="text-muted small">{{ app.user.email }}</p>
                                    <div class="divider"></div>
                                    <a href="{{ path('ben_profile_edit', { 'name': app.user.username}) }}"
                                       class="btn btn-primary btn-sm">Afficher mon profil</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-footer">
                            <div class="navbar-footer-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-sm">Compte</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="/logout" class="btn btn-default btn-sm pull-right">Déconnexion</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header> -->
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="hidden-print nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('images/img.jpg')}}" alt="">{{ app.user.fullName }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{ path('fos_user_profile_edit') }}"> Profile</a></li>

                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                  </ul>
                </li>


              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <div class="container">
            {% include "BenDoctorsBundle:Default:flashes.html.twig" %}
            {#{% block  %} {% endblock %}#}
            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Médical - Solution fournie par <a href="http://placeholder.tn">Placeholder</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>

    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('vendors/jquery/dist/jquery.min.js')}}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <!-- FastClick -->
        <script src="{{ asset('vendors/fastclick/lib/fastclick.js')}}"></script>
        <!-- NProgress -->
        <script src="{{ asset('vendors/nprogress/nprogress.js')}}"></script>
        <!-- Chart.js -->
        <script src="{{ asset('vendors/Chart.js/dist/Chart.min.js')}}"></script>
        <!-- gauge.js -->
        <script src="{{ asset('vendors/gauge.js/dist/gauge.min.js')}}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
        <!-- iCheck -->
        <script src="{{ asset('vendors/iCheck/icheck.min.js')}}"></script>
        <!-- Skycons -->
        <script src="{{ asset('vendors/skycons/skycons.js')}}"></script>
        <!-- Flot -->
        <script src="{{ asset('vendors/Flot/jquery.flot.js')}}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.pie.js')}}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.time.js')}}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.stack.js')}}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.resize.js')}}"></script>
        <!-- Flot plugins -->
        <script src="{{ asset('vendors/flot.orderbars/js/jquery.flot.orderBars.js')}}"></script>
        <script src="{{ asset('vendors/flot-spline/js/jquery.flot.spline.min.js')}}"></script>
        <script src="{{ asset('vendors/flot.curvedlines/curvedLines.js')}}"></script>
        <!-- DateJS -->
        <script src="{{ asset('vendors/DateJS/build/date.js')}}"></script>
        <!-- JQVMap -->
        <script src="{{ asset('vendors/jqvmap/dist/jquery.vmap.js')}}"></script>
        <script src="{{ asset('vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
        <script src="{{ asset('vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ asset('vendors/moment/min/moment.min.js')}}"></script>
        <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
        <!-- application.js needed for printing -->
        <script src="{{ asset('js/mine.js') }}"></script>
        <!-- Custom Theme Scripts -->
        <script src="{{ asset('build/js/custom.min.js')}}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ asset('vendors/moment/min/moment.min.js')}}"></script>
        <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="{{ asset('vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js')}}"></script>
        <script src="{{ asset('vendors/jquery.hotkeys/jquery.hotkeys.js')}}"></script>
        <script src="{{ asset('vendors/google-code-prettify/src/prettify.js')}}"></script>
        <!-- jQuery Tags Input -->
        <script src="{{ asset('vendors/jquery.tagsinput/src/jquery.tagsinput.js')}}"></script>
        <!-- Switchery -->
        <script src="{{ asset('vendors/switchery/dist/switchery.min.js')}}"></script>
        <!-- Select2 -->
        <script src="{{ asset('vendors/select2/dist/js/select2.full.min.js')}}"></script>
        <!-- Parsley -->
        <script src="{{ asset('vendors/parsleyjs/dist/parsley.min.js')}}"></script>
        <!-- Autosize -->
        <script src="{{ asset('vendors/autosize/dist/autosize.min.js')}}"></script>
        <!-- jQuery autocomplete -->
        <script src="{{ asset('vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js')}}"></script>
        <!-- starrr -->
        <script src="{{ asset('vendors/starrr/dist/starrr.js')}}"></script>
        <!-- fullcalendar-->
        <script src="{{ asset('js/fullcalendar.js') }}"></script>
        <script src="{{ asset('js/availability.js') }}"></script>
        <!-- Doughnut Chart -->
        <script>
          $(document).ready(function(){
            var options = {
              legend: false,
              responsive: false
            };
              $.ajax({
                  url: "http://localhost:8000/chart",
                  async: false,
                  dataType: 'json',
                  success: function (data) {
                      new Chart(document.getElementById("canvas1"), {
                          type: 'doughnut',
                          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                          data: {
                              labels: [
                                  data.date_0,
                                  data.date_1,
                                  data.date_2,
                                  data.date_3,
                                  data.date_4
                              ],
                              datasets: [{
                                  data: [data.month_0, data.month_1, data.month_2, data.month_3, data.month_4],
                                  backgroundColor: [
                                      "#BDC3C7",
                                      "#9B59B6",
                                      "#E74C3C",
                                      "#26B99A",
                                      "#3498DB"
                                  ],
                                  hoverBackgroundColor: [
                                      "#CFD4D8",
                                      "#B370CF",
                                      "#E95E4F",
                                      "#36CAAB",
                                      "#49A9EA"
                                  ]
                              }]
                          },
                          options: options
                      });

                  }});


          });
        </script>

        {#<!-- <script src="{{ asset('js/jquery.min.js') }}"></script>#}
        {#<script src="{{ asset('js/moment.min.js') }}"></script>#}
        {#<script src="{{ asset('js/select2.min.js') }}"></script>#}
        {#<script src="{{ asset('js/fullcalendar.js') }}"></script>#}
        {#<script src="{{ asset('js/availability.js') }}"></script>#}
        {#<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>#}
        {#<script src="{{ asset('js/jquery.cookie.js') }}"></script>#}


{#/*******Mini AJAX File Upload Form needs some config ***/#}


        {#<script src="{{ asset('js/jquery.knob.js') }}"></script>#}
        {#<script src="{{ asset('js/jquery.ui.widget.js') }}"></script>#}
        {#<script src="{{ asset('js/jquery.iframe-transport.js') }}"></script>#}
        {#<script src="{{ asset('js/jquery.fileupload.js') }}"></script>#}
        {#<script src="{{ asset('js/script.js') }}"></script>#}
{#/***Dropzone***/#}
        <script src="{{ asset('js/dropzone.js') }}"></script>
        <script src="{{ asset('js/mini_ajax_file_uploader.js') }}"></script>
        <script src="{{ asset('js/reframe.min.js') }}"></script>
        <script src="{{ asset('js/files_popup.js') }}"></script>

        {#<script>#}
            {#var Dropzone = require("js/dropzone");#}
            {#Dropzone.autoDiscover = false;#}
        {#</script>#}
        <! jQuery rest -->
        {#<!-- <script src="{{ asset('js/jquery.rest.min.js') }}"></script>#}
        {#<script>#}
{#//            reframe('#calendar');#}
{#//            reframe('#external-events');#}

            {#reframe('.graph');#}
            {#reframe('#ct-chart ct-perfect-fourth');#}
            {#//reframe('.container');#}


        {#</script> -->#}

    {% endblock javascripts %}
    </body>
{% endblock container %}
</html>
