{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<div class="btn-group pull-right" style="margin-top: 15px;">
  <button class="btn btn-primary "><span class="glyphicon glyphicon-cog"></span> Selectioner une action</button>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path('person_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span> modifier</a></li>
    <li><a href="{{ path('antecedent_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-plus"></span> Antécedent</a></li>
    <li><a href="{{ path('consultation_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-plus"></span> Consultation </a></li>
    <li><a id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a></li>
    <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
  </ul>
</div>
<h3><span class="glyphicon glyphicon-user"></span> {{ entity.fullName }}</h3>

<div class="row">
<div class="col-md-12">
    <div class="box">
      <header>
          <h4><span class="glyphicon glyphicon-file"></span>Informations relatives à {{ entity.fullName }} </h4>
      </header>



      <table class="table table-hover table-bordered">
          <thead>

              <tr>
                  <th>Identité du patient</th>
                  <th>Informations générale</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              <ul class="list-group">
                <li class="list-group-item"><strong>Nom :</strong> {{ entity.familyname }}</li>
                <li class="list-group-item"><strong>Prenom :</strong>  {{ entity.firstname }} </li>
                <li class="list-group-item"><strong>CIN :</strong> {{ entity.cin }}</li>
                <li class="list-group-item"><strong>Sexe :</strong> {{ entity.gender }}</li>
                <li class="list-group-item"><strong>Date de naissance :</strong> {% if entity.birthday %}{{ entity.birthday|date('d/m/Y') }}{% endif %}</li>
              </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Lieu de naissance :</strong> {{ entity.birthcity }}</li>
                  <li class="list-group-item"><strong>Adresse :</strong> {{ entity.address }}</li>
                  <li class="list-group-item"><strong>Province :</strong> {{ entity.city }}</li>
                  <li class="list-group-item"><strong>adresse email :</strong> <a href="mailto:{{ entity.email }}">{{ entity.email }}</a></li>

               </ul>
              </td>
              <td>
              <ul class="list-group">
                <li class="list-group-item"><strong>Gsm 1:</strong> {{ entity.gsm }}</li>
                <li class="list-group-item"><strong>Gsm 2:</strong> {{ entity.parentGsm }}</li>
                <li class="list-group-item"><strong>Pays :</strong> {{ entity.contry }}</li>
                <li class="list-group-item"><strong>type de couverture sociale :</strong> {{ entity.cnsstype }}</li>
                <li class="list-group-item"><strong>numéro de couverture sociale :</strong> {{ entity.cnssnum }}</li>
              </ul>

              </td>
            </tr>
          </tbody>
      </table>

    </div>
</div>

<div class="col-md-12">
      <div class="box">
        <header>
            <h4><span class="glyphicon glyphicon-tag"></span> Histoire de la maladie</h4>

        </header>
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <table class="table table-hover table-bordered">
                    <thead>

                        <tr>
                            <th>type</th>
                            <th>medicaux</th>
                            <th>Chirurgicaux & gynécologiques</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.antecedents %}
                      <tr>
                        <td><a href="{{ path('antecedent_edit', { 'id': item.id }) }}">{{ item.type }}</a></td>
                        <td>{{ item.medicaux|nl2br }}</td>
                        <td>{{ item.chirurgicaux|nl2br }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </td>
            </tr>
            <tr>
              <td>
                  <table class="table table-hover table-bordered">
                    <thead>

                        <tr>
                            <th>type</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.antecedents %}
                      <tr>
                        <td><a href="{{ path('antecedent_edit', { 'id': item.id }) }}">{{ item.type }}</a></td>
                        <td></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </td>
            </tr>

        </tbody>
        </table>


    </div>
</div>

<div class="col-md-12">
      <div class="box">
        <header>
            <h4><span class="glyphicon glyphicon-tag"></span> Motifs de consultation</h4>
        </header>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Anamnese</th>

                </tr>
            </thead>
            <tbody>
            {% for item in entity.consultations %}
              <tr>
                {% if item.anamnese %}
                <td>{{ item.anamnese|truncate(50) }}</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Examen clinique</th>
                    <th>Date</th>
                    <th>Medecin</th>
                    <th>Diagnostic</th>
                </tr>
            </thead>
            <tbody>
            {% for item in entity.consultations %}
              <tr>
                <td><a href="{{ path('consultation_show', { 'id': item.id }) }}">{{ item.name }}</a></td>
                <td>{{ item.created|date('d/m/Y') }}</td>
                <td><a href="{{ path('ben_show_user', { 'id': item.user.id }) }}">{{ item.user.fullname }}</a></td>
                <td>{{ item.diagnosis|truncate(50) }}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        <header>
            <h4><span class="glyphicon glyphicon-tag"></span> Examen complémentaire</h4>
        </header>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type de l'examen</th>
                    <th>Lieu</th>
                    <th>Conclusion</th>
                </tr>
            </thead>
            <tbody>
            {% for item in entity.consultations %}
            {% for i in item.tests %}
              {% if i.typeexam %}
              <tr>
                <td>{{ i.date|date('d/m/Y') }}</td>
                <td>{{ i.typeexam}}</td>
                <td>{{ i.lieu}}</td>
                {%if i.images%}
                <td>{%for j in i.images%}<a href="{{ path('test_show_img',{'id':i.id,'id_image':j.id}) }}">Voir fichier</a></br>{%endfor%}</td>
                {%else%}
                <td>{{ i.conclusion}}</td>
                {%endif%}
              </tr>
              {% endif %}
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
      <div class="box">
        <header>
            <h4><span class="glyphicon glyphicon-tag"></span> Conduites tenues</h4>

        </header>
        <table class="table table-hover table-bordered">
        <thead>
              <tr>
                  <th>Date</th>
                  <th>Conduite à tenir</th>
              </tr>
          </thead>
          <tbody>
          {% for item in entity.consultations %}
            {% if item.decision %}
            <tr>
              <td>{{ item.created|date('d/m/Y') }}</td>
              <td>{{ item.decision|truncate(50) }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
      <div class="box">
        <header>
            <h4><span class="glyphicon glyphicon-tag"></span> Traitements</h4>

        </header>
        <table class="table table-hover table-bordered">
        <thead>
              <tr>
                  <th>Consultation</th>
                  <th>Traitement</th>
              </tr>
          </thead>
          <tbody>
          {% for item in entity.consultations %}
            <tr>
              <td>{{ item.created|date('d/m/Y') }}</td>
              <td>{{ item.treatment|truncate(50) }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
</div>

</div>
<form id="deleteForm" action="{{ path('person_delete', { 'id': entity.id }) }}" method="GET">
    {{ form_widget(delete_form) }}
</form>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    (function($) {

        $('#js-delete').on('click', function(){
            $('#deleteForm').submit();
            return false;
        });
    })(jQuery);
</script>
{% endblock %}
