{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body -%}
<h3>Examen médical</h3>
<div class="row">
    <div class="col-md-10">
        <table class="table table-striped table-hover table-bordered">
        <tbody>

            <tr>
                <th>Patient</th>
                <td><a href="{{ path('person_show', { 'id': entity.consultation.person.id }) }}">{{ entity.consultation.person.fullname }}</a></td>
            </tr>
            <tr>
                <th>Medecin</th>
                <td>{{ entity.consultation.user.fullname }}</td>
            </tr>
            <tr>
                <th>Type de l'examen</th>
                <td>{{ entity.typeexam }}</td>
            </tr>
            <tr>
                <th>Date </th>
                <td>{{ entity.date}}</td>
            </tr>
            <tr>
                <th>Lieu </th>
                <td>{{ entity.lieu }}</td>
            </tr>
            {% if entity.images %}
            <tr>
                <th>Fichier</th>
                {% for item in entity.images %}
                <td><a href="{{ path('test_show_img',{'id':entity.id}) }}">Voir fichier</a></td>
                {%endfor%}
            </tr>
            {% else %}
            <tr>
                <th>Conclusion</th>
                <td>{{ entity.conclusion }}</td>
            </tr>
            {%endif%}
        </tbody>
    </table>
    </div>
    <div class="col-md-2">
        <form id="deleteForm" action="{{ path('test_delete', { 'id': entity.id }) }}" method="POST">
            <a class="btn btn-primary btn-block" href="{{ path('test') }}">Vers la liste</a>
            <a class="btn btn-info btn-block" href="{{ path('test_edit', { 'id': entity.id }) }}">Mettre à jour</a>
            <a class="btn btn-info btn-block" id="btnPrint"><span class="glyphicon glyphicon-print"></span> Imprimer</a>
            <hr>
            <button class="btn btn-danger btn-block" type="submit">Supprimer</button>
            {{ form_widget(delete_form) }}
        </form>
    </div>
</div>
{% endblock %}
