{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
    {% block stylesheet %}
   {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bower_components/chartist/dist/chartist.min.css') }}">
        <link href="{{ asset('css/daterangepicker-bs3.css') }}" rel="stylesheet"><!-- Loading my css -->
        <style>
			.links #reportrange, .links .btn {margin-top: 20px; margin-left: 5px;}
			.links .btn{padding: 7px 16px !important;}
        </style>
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
    {% endblock %}
{% block body -%}


<div class="container">


<form action="#" id="js-form">
<div class="row">
	<div class="col-md-6">
		<h3><span class="glyphicon glyphicon-stats"></span> Statistiques</h3>
	</div>
	<div class="col-md-6 links hidden-print">
		<a class="btn btn-primary pull-right" onclick="onDrawClick()"><span class="glyphicon glyphicon-filter"></span>Graphe de variation de patients</a>
    	</div>
</div>



<div class="col-md-12">
  <div class="box">
      <table class="table table-hover table-bordered">
          <thead>
              <tr>
                  <th>Age moyen des patients</th>
                  <th>Pourcentage des femmes</th>
                  <th>Pourcentage des hommes</th>
                  <th>Nombre de patients pour ce mois</th>
                  <th>Variation du nombre de patients</br>par rapport au mois précédent</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>{{age}} ans </strong></td>
              <td><strong>{{p_femmes|round}} %</strong></td>
              <td><strong>{{p_hommes|round}} %</strong></td>
              <td><strong>{{nb_patients_this_month}} patient(s)</strong></td>
              {%if evolution >0%}
              <td><strong>nombre de patients a augmenté de {{evolution}} patient(s)</strong></td>
              {%elseif evolution <0%}
              <td><strong>nombre de patients a diminué de {{evolution|abs}} patient(s)</strong></td>
              {%else%}
              <td><strong>pas de variation</strong></td>
              {%endif%}
            </tr>

          </tbody>
      </table>
  </div>
  <div class="ct-chart ct-perfect-fourth"></div>
  <script>
  function onDrawClick() {
      var this_month,previous_month,twoprevious_month,threeprevious_month,fourprevious_month,fiveprevious_month,sixprevious_month,
        sevenprevious_month,eightprevious_month,nineprevious_month,tenprevious_month,elevenprevious_month,twelveprevious_month;
        $.ajax({
        url: "http://localhost:8000/chart",
        async: false,
        dataType: 'json',
        success: function (data) {
        this_month=data.this_month;
        previous_month=data.previous_month;
        twoprevious_month=data.twoprevious_month;
        threeprevious_month=data.threeprevious_month;
        fourprevious_month=data.fourprevious_month;
        fiveprevious_month=data.fiveprevious_month;
        sixprevious_month=data.sixprevious_month;
        sevenprevious_month=data.sevenprevious_month;
        eightprevious_month=data.eightprevious_month;
        nineprevious_month=data.nineprevious_month;
        tenprevious_month=data.tenprevious_month;
        elevenprevious_month=data.elevenprevious_month;
        twelveprevious_month=data.twelveprevious_month;

    }
  });

        var timeInMs = new Date();
        var dates=[];
        var year=timeInMs.getFullYear();
        var month = timeInMs.getMonth()+1;
        for(var i=0;i<13;i++){
          if(month-(i)===0){
              year-=1;
              month+=12
          }
          dates.push(month-i+"/\n"+year);
        }

        new Chartist.Line('.ct-chart', {
          labels: [dates[12],dates[11],dates[10],dates[9],dates[8],dates[7], dates[6],dates[5],dates[4],dates[3],dates[2],dates[1],dates[0]],
          series: [
            [twelveprevious_month,elevenprevious_month,tenprevious_month,nineprevious_month,eightprevious_month,sevenprevious_month,sixprevious_month,fiveprevious_month,fourprevious_month,threeprevious_month,twoprevious_month,previous_month,this_month]
          ]
        }, {
          low: 0,
          showArea: true
        });
  }






  </script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/moment-with-langs.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
    <script src="{{asset('bower_components/chartist/dist/chartist.min.js')}}">


{% endblock %}
